<%- include('includes/head.ejs') %>   
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>An error has occurred!</h1>
    <p>We are working on fixing this issue. We apologize for the inconvenience.</p>
<%- include('includes/end.ejs') %>